<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- UserMapper.xml :: SQL 를 갖는 MetaData - MyBatis Framework 은 XML MetaData 
	를 사용 SQL구문을 관리 (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 외부로 분리함) - SQL문의 입력(?) / 
	출력(?)을 매핑한다. <== 아래의 select element 참조 -->

<mapper namespace="AuctionListMapper">

   <resultMap id="AuctionListSelectMap" type="com.model2.mvc.service.domain.AuctionList">
     
      <result property="auctionListNo"		column="auctionList_no"		jdbcType="INTEGER" />
      <result property="bidPrice"			column="bid_price"			jdbcType="INTEGER" />
      <result property="bidRegDate"			column="bid_reg_date"		jdbcType="DATE" />
      
      
	  <association property="bidCarNo" javaType="com.model2.mvc.service.domain.Car">	
			<result property="carNum" 		column="car_Num" 		jdbcType="VARCHAR" />	
			<result property="carNo" 		column="car_No" 		jdbcType="INTEGER" />
			<result property="manuCountry" 	column="manu_country"    jdbcType="VARCHAR" />
			<result property="manuCo" 		column="manu_co" 	    jdbcType="VARCHAR" />
			<result property="model" 		column="model" 			jdbcType="VARCHAR" />
			<result property="color" 		column="color" 			jdbcType="VARCHAR" />
			<result property="year" 		column="year"		 	jdbcType="INTEGER" />
			<result property="carYear"   	column="car_Year" 		jdbcType="INTEGER" />
			<result property="transmission" column="transmission" 	jdbcType="VARCHAR" />
			<result property="cc"   		column="cc" 			jdbcType="INTEGER" />
			<result property="fuel"   		column="fuel" 			jdbcType="VARCHAR" />
			<result property="mileage"   	column="mileage" 		jdbcType="INTEGER" />
			<result property="sell"  	 	column="sell" 			jdbcType="VARCHAR" />
			<result property="accident"   	column="accident" 		jdbcType="VARCHAR" />
			<result property="user.userNo"	column="user_no" 	    jdbcType="INTEGER" />
		</association>
		
		<association property="bidAuctionNo" javaType="com.model2.mvc.service.domain.Auction">	
			  <result property="auctionNo"		column="auction_no"			jdbcType="INTEGER"/>
		      <result property="manuCountry"    column="manu_country"		jdbcType="VARCHAR" />
		      <result property="manuCo"			column="manu_co"			jdbcType="VARCHAR" />
		      <result property="model"          column="model"				jdbcType="VARCHAR" />
		      <result property="fuel"			column="fuel"				jdbcType="VARCHAR" />
		      
		      <result property="transmission"	column="transmission"       jdbcType="VARCHAR" />
		      <result property="year"			column="year"				jdbcType="VARCHAR" />
		      <result property="mileage"		column="mileage"			jdbcType="VARCHAR" />
		      <result property="professor"		column="professor"          jdbcType="VARCHAR" />
		      <result property="auctionPrice"	column="auction_price"		jdbcType="INTEGER" />
		      
		      <result property="carDetail" 		column="car_detail"			jdbcType="VARCHAR" />
		      <result property="title"			column="title"				jdbcType="VARCHAR" />
		      <result property="regDate"		column="reg_date"			jdbcType="DATE" />
		      <result property="cnt"			column="cnt"				jdbcType="INTEGER" />
		      <result property="bidCnt"			column="bid_cnt"			jdbcType="NUMERIC" />
		 	  <result property="user.userNo" 	column="user_no"			jdbcType="NUMERIC"/>  
		 	  
		 	  <result property="successCar" 	column="success_car"		jdbcType="NUMERIC"/> 
		 	  <result property="su" 			column="su"			    	jdbcType="NUMERIC"/> 
		 	  <result property="mon" 			column="mon"				jdbcType="VARCHAR"/>  
		</association>
   </resultMap>
	
	 <insert id="addAuctionList"   parameterType="com.model2.mvc.service.domain.AuctionList" >
	 	INSERT
	    INTO
	    auctionlist(auctionList_no, bid_price, car_no, auction_no, bid_reg_date)
	    VALUES(auctionList_no.nextval, #{bidPrice},
	    #{bidCarNo.carNo},
	    #{bidAuctionNo.auctionNo}, sysdate)     
	 </insert>
	 
	 <select id="getBidList" parameterType="Integer" resultMap="AuctionListSelectMap">
	  SELECT
		 a.auctionlist_no, a.auction_no, a.car_no, a.bid_price, a.bid_reg_date, c.model, c.tran_code
		 FROM
		 auctionlist a , car c
		 WHERE
		 auction_no = #{value}
		 and c.car_no = a.car_no
		 ORDER BY a.bid_price
	 </select>
	 <select id="getAuctionList" parameterType="com.model2.mvc.service.domain.AuctionList"
			resultMap="AuctionListSelectMap">
		SELECT
		a.auctionlist_no, a.auction_no, a.car_no, a.bid_price, a.bid_reg_date, c.model, c.tran_code

		FROM
		auctionlist a, car c
		WHERE
		a.auction_no = #{bidAuctionNo.auctionNo}
		and
		a.car_no = #{bidCarNo.carNo}
	</select>

 <!-- // 내가 등록한 각 차들의 입찰정보 - 낙찰여부/옥션정보 -->
	<select id="getBidListByCarNo" parameterType="Integer" resultMap="AuctionListSelectMap">

		SELECT al.auction_no, u.user_name AS mon, a.title, a.success_car, al.bid_reg_date, al.bid_price
		FROM auctionList al, auction a, users u, car c
		WHERE c.car_no = #{value}
		AND al.auction_no = a.auction_no
		AND a.user_no = u.user_no
		AND al.car_no = c.car_no
		ORDER BY al.bid_reg_date desc
		
	</select>

</mapper>