<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- UserMapper.xml :: SQL 를 갖는 MetaData - MyBatis Framework 은 XML MetaData 
	를 사용 SQL구문을 관리 (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 외부로 분리함) - SQL문의 입력(?) / 
	출력(?)을 매핑한다. <== 아래의 select element 참조 -->

<mapper namespace="AuctionMapper">

   <resultMap id="AuctionSelectMap" type="com.model2.mvc.service.domain.Auction">
      <result property="auctionNo"       column="auction_no"       jdbcType="NUMERIC"/>
      <result property="manuCountry"      column="manu_country"        jdbcType="VARCHAR" />
      <result property="manuCo"          column="manu_co"           jdbcType="VARCHAR" />
      <result property="model"          column="model"              jdbcType="VARCHAR" />
      <result property="fuel"          column="fuel"             jdbcType="VARCHAR" />
      
      <result property="transmission"    column="transmission"       jdbcType="VARCHAR" />
      <result property="year"          column="year"            jdbcType="VARCHAR" />
      <result property="mileage"         column="mileage"          jdbcType="VARCHAR" />
      <result property="professor"         column="professor"          jdbcType="VARCHAR" />
      <result property="auctionPrice"    column="auction_price"       jdbcType="INTEGER" />
      
      <result property="carDetail"         column="car_detail"       jdbcType="VARCHAR" />
      <result property="title"            column="title"             jdbcType="VARCHAR" />
      <result property="regDate"         column="reg_date"          jdbcType="DATE" />
      <result property="tranCode"         column="tran_Code"          jdbcType="VARCHAR" />
      <result property="bid"            column="bid"             jdbcType="VARCHAR" />
      
      <result property="cnt"            column="cnt"             jdbcType="NUMERIC" />
      <result property="bidCnt"            column="bid_cnt"             jdbcType="NUMERIC" />
      
      <association property="userNo" javaType="com.model2.mvc.service.domain.User">
			<result property="userId" 	column="user_id" 		jdbcType="VARCHAR"/>
			<result property="userNo"	column="user_no" 	    jdbcType="INTEGER" />
			<result property="userName" column="user_name"     	jdbcType="VARCHAR" />
			<result property="password" column="password" 	    jdbcType="VARCHAR" />
			<result property="phone" 	column="phone"		 	jdbcType="VARCHAR" />
			<result property="sex"  	column="sex" 			jdbcType="VARCHAR" />
			<result property="regDate" 	column="reg_date"		jdbcType="DATE" />
			<result property="role"   	column="role" 			jdbcType="VARCHAR" />
			<result property="addr"   	column="addr" 			jdbcType="VARCHAR" />
		</association>
      
      
      
   </resultMap>


   <insert id="addAuction" parameterType="com.model2.mvc.service.domain.Auction" >
      INSERT
      INTO
      Auction(auction_no, manu_country, manu_co, model, fuel,
      		transmission, year, mileage, professor, auction_price,
      		car_detail, title, user_no, reg_date, tran_Code,
      		bid, cnt, bid_Cnt)
    VALUES(auction_no.nextval,
            #{manuCountry},
            #{manuCo},
            #{model},
            #{fuel},
               
            #{transmission},
            #{year},
            #{mileage},
           'professor',
           1000,
               
            #{carDetail},
           'title',
           <!-- 1, -->
            #{userNo.userNo},
            sysdate,
            '0',
            
            '0',
            0,
            0)
   </insert>
	
	<!-- 총 게시물  -->
	<select id="getTotalCount" parameterType="com.model2.mvc.common.Search"
		resultType="int">
		SELECT COUNT(*)
		FROM( SELECT auction_no 
		FROM auction
		<if test="searchCondition != null">
			<where>
				<if test="searchCondition == 0 and searchKeyword !='' ">
					auction_no = #{searchKeyword}
				</if>
				<if test="searchCondition == 1 and searchKeyword !='' ">
					model LIKE '%'||#{searchKeyword}||'%'
				</if>
			</where>
		</if>
		) countTable
	</select>

	<!-- 리스트 뿌리기 -->
	<select id="getAuctionList" parameterType="com.model2.mvc.common.Search"
		resultMap="AuctionSelectMap">
		SELECT a.auction_no, a.model, a.title, u.user_name , a.reg_date, a.tran_code, a.bid, a.cnt, a.bid_cnt from 
			( SELECT inner_table.* , ROWNUM AS row_seq FROM
				 ( SELECT * FROM auction
					<if test="searchCondition != null">
						<where>
							<if test="searchCondition == 0 and searchKeyword !='' ">
								auction_no = #{searchKeyword}
							</if>
							<if test="searchCondition == 1 and searchKeyword !='' ">
								model like #{searchKeyword}
							</if>
						</where>
					</if>
				ORDER BY auction_no desc) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} ) a, users u where u.user_no = a.user_no AND row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	</select>

	<select id="auctionInfo" parameterType="com.model2.mvc.service.domain.Auction"
		resultMap="AuctionSelectMap">
		select * from auction;
	</select>


	<select id="getAuction" parameterType="int" resultMap="AuctionSelectMap">
		SELECT *
		FROM
		auction
		WHERE
		auction_no = #{auctionNo}
	</select>	

</mapper>