<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- UserMapper.xml :: SQL 를 갖는 MetaData - MyBatis Framework 은 XML MetaData 
	를 사용 SQL구문을 관리 (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 외부로 분리함) - SQL문의 입력(?) / 
	출력(?)을 매핑한다. <== 아래의 select element 참조 -->

<mapper namespace="CarMapper">

	<resultMap id="carSelectMap" type="com.model2.mvc.service.domain.Car">
		<result property="carNum" 		column="carNum" 		jdbcType="INTEGER" />
		<result property="manuCountry" 	column="manucountry"    jdbcType="VARCHAR" />
		<result property="manuCo" 		column="manuco" 	    jdbcType="VARCHAR" />
		<result property="model" 		column="model" 			jdbcType="VARCHAR" />
		<result property="color" 		column="color" 			jdbcType="VARCHAR" />
		<result property="year" 		column="year"		 	jdbcType="INTEGER" />
		<result property="carYear"   	column="carYear" 		jdbcType="INTEGER" />
		<result property="transmission"  column="transmission" 	jdbcType="VARCHAR" />
		<result property="cc"   		column="cc" 			jdbcType="INTEGER" />
		<result property="fuel"   		column="fuel" 			jdbcType="VARCHAR" />
		<result property="mileage"   	column="mileage" 		jdbcType="INTEGER" />
		<result property="sell"  	 	column="sell" 			jdbcType="VARCHAR" />
		<result property="accident"   	column="accident" 		jdbcType="VARCHAR" />
		<result property="professor"   	column="professor" 		jdbcType="VARCHAR"  />
	</resultMap>


	<insert id="addCar" parameterType="com.model2.mvc.service.domain.Car">
		INSERT
		INTO
		car(carNum, manucountry,manuco,model, color, year, carYear, transmission, cc, fuel, mileage, sell, accident, professor)
		VALUES(#{carNum}, #{manuCountry}, #{manuCo}, #{model}, #{color}, #{year}, #{carYear}, #{transmission},#{cc},#{fuel}, #{mileage}, #{sell}, #{accident},#{professor})
	</insert>

</mapper>