<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- UserMapper.xml :: SQL 를 갖는 MetaData - MyBatis Framework 은 XML MetaData 
	를 사용 SQL구문을 관리 (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 외부로 분리함) - SQL문의 입력(?) / 
	출력(?)을 매핑한다. <== 아래의 select element 참조 -->

<mapper namespace="CarMapper">

	<resultMap id="carSelectMap" type="com.model2.mvc.service.domain.Car">
		<result property="carNum" 		column="car_Num" 		jdbcType="VARCHAR" />	
		<result property="carNo" 		column="car_No" 		jdbcType="INTEGER" />
		<result property="manuCountry" 	column="manu_country"   jdbcType="VARCHAR" />
		<result property="manuCo" 		column="manu_co" 	    jdbcType="VARCHAR" />
		<result property="model" 		column="model" 			jdbcType="VARCHAR" />
		<result property="color" 		column="color" 			jdbcType="VARCHAR" />
		<result property="year" 		column="year"		 	jdbcType="INTEGER" />
		<result property="carYear"   	column="car_Year" 		jdbcType="INTEGER" />
		<result property="transmission" column="transmission" 	jdbcType="VARCHAR" />
		<result property="cc"   		column="cc" 			jdbcType="INTEGER" />
		<result property="fuel"   		column="fuel" 			jdbcType="VARCHAR" />
		<result property="mileage"   	column="mileage" 		jdbcType="INTEGER" />
		<result property="sell"  	 	column="sell" 			jdbcType="VARCHAR" />
		<result property="accident"   	column="accident" 		jdbcType="VARCHAR" />
		<result property="user.userNo"	column="user_no" 	    jdbcType="INTEGER" />
		<result property="tranCode"		column="tran_code" 	    jdbcType="VARCHAR" />
		<result property="info"			column="info" 	    	jdbcType="VARCHAR" />
		
	</resultMap>

	<resultMap id="carOption" type="com.model2.mvc.service.domain.CarOption">
		<result property="carNo" 		column="carNo" 			jdbcType="INTEGER" />
		<result property="powerWindow" 	column="powerWindow"    jdbcType="VARCHAR" />
		<result property="aircorn" 		column="aircorn" 	    jdbcType="VARCHAR" />
		<result property="fullAutoAircorn" 		column="fullAutoAircorn" 			jdbcType="VARCHAR" />
		<result property="leftRightAircorn" 		column="leftRightAircorn" 			jdbcType="VARCHAR" />
		<result property="gajukSheet" column="gajukSheet" 	jdbcType="VARCHAR" />
		<result property="warmSheet"   		column="warmSheet" 			jdbcType="VARCHAR" />
		<result property="windSheet"  	 	column="windSheet" 			jdbcType="VARCHAR" />
		<result property="msgSheet"   	column="msgSheet" 		jdbcType="VARCHAR" />
		
		
		
		<result property="sunRoof" 	column="sunRoof"    jdbcType="VARCHAR" />
		<result property="pnrmSunRoof" 		column="pnrmSunRoof" 	    jdbcType="VARCHAR" />
		<result property="hidRam" 		column="hidRam" 			jdbcType="VARCHAR" />
		<result property="autoRight" 		column="autoRight" 			jdbcType="VARCHAR" />
		<result property="ecmRoomMirror" column="ecmRoomMirror" 	jdbcType="VARCHAR" />
		<result property="smartKey"   		column="smartKey" 			jdbcType="VARCHAR" />
		<result property="egStartButton"  	 	column="egStartButton" 			jdbcType="VARCHAR" />
		<result property="rigthClean"   	column="rigthClean" 		jdbcType="VARCHAR" />
		<result property="jkSubSystem "   	column="jkSubSystem" 		jdbcType="VARCHAR" />
			
		<result property="navi" 	column="navi"    jdbcType="VARCHAR" />
		<result property="hipass" 		column="hipass" 	    jdbcType="VARCHAR" />
		<result property="blackBox" 		column="blackBox" 			jdbcType="VARCHAR" />
		<result property="handFreeze" 		column="handFreeze" 			jdbcType="VARCHAR" />
		<result property="blueTooth" column="blueTooth" 	jdbcType="VARCHAR" />
		<result property="dvdPlayer"   		column="dvdPlayer" 			jdbcType="VARCHAR" />
		<result property="dmb"  	 	column="dmb" 			jdbcType="VARCHAR" />
		<result property="mp3 "   	column="mp3" 		jdbcType="VARCHAR" />
		<result property="iPhoneAdapter"   	column="iPhoneAdapter" 		jdbcType="VARCHAR" />
		
		<result property="driverAirBag" 	column="driverAirBag"    jdbcType="VARCHAR" />
		<result property="driverFriendAirBag" 		column="driverFriendAirBag" 	    jdbcType="VARCHAR" />
		<result property="sideAirBag" 		column="sideAirBag" 			jdbcType="VARCHAR" />
		<result property="ctAirBag" 		column="ctAirBag" 			jdbcType="VARCHAR" />
		<result property="passengerDetectAirBag" column="passengerDetectAirBag" 	jdbcType="VARCHAR" />
		<result property="mrProtectAirBag"   		column="mrProtectAirBag" 			jdbcType="VARCHAR" />
		<result property="activeHeadRest"  	 	column="activeHeadRest" 			jdbcType="VARCHAR" />
		<result property="abs"   	column="abs" 		jdbcType="VARCHAR" />
		<result property="airrowfigher"   	column="airrowfigher" 		jdbcType="VARCHAR" />
		
		
		<result property="turboChaser" 	column="turboChaser"    jdbcType="VARCHAR" />
		<result property="superChaser" 		column="superChaser" 			jdbcType="VARCHAR" />
		<result property="mission" 		column="mission" 			jdbcType="VARCHAR" />
		<result property="handle" column="handle" 	jdbcType="VARCHAR" />
		<result property="spoiler"   		column="spoiler" 			jdbcType="VARCHAR" />
		<result property="ggFan"  	 	column="ggFan" 			jdbcType="VARCHAR" />
		<result property="audio "   	column="audio" 		jdbcType="VARCHAR" />
		<result property="wheelTiger"   	column="wheelTiger" 		jdbcType="VARCHAR" />
		<result property="burcketsheet"   	column="burcketsheet" 		jdbcType="VARCHAR" />
		 
	</resultMap>
	



 	<insert id="addCar" parameterType="com.model2.mvc.service.domain.Car">
		INSERT
		INTO
		car(
		car_No, car_Num, 
		manu_country, manu_co, model, color, 
		year, car_Year, 
		transmission, cc, 
		fuel, mileage, 
		sell, accident, user_no, info,tran_code)
		VALUES(
		car_No.NEXTVAL ,#{carNum:VARCHAR}, #{manuCountry:VARCHAR}, #{manuCo:VARCHAR}, #{model:VARCHAR}, #{color:VARCHAR}, #{year:INTEGER}, #{carYear:INTEGER}, #{transmission:VARCHAR},#{cc:INTEGER},#{fuel:VARCHAR}, #{mileage:INTEGER}, #{sell:VARCHAR}, #{accident:VARCHAR},#{user.userNo},#{info},0)
	</insert>
	
	
	<insert id="addCarOption" parameterType="com.model2.mvc.service.domain.CarOption">
	INSERT
	INTO
	caroption(
	car_No, powerwindow, aircorn, fullAutoAircorn, 
	sunRoof ,pnrmSunRoof,hidRam,
	navi , hipass ,blackBox ,
	driverairbag,driverFriendAirBag ,sideAirBag ,
	turbochaser,superchaser,airrowFigher)
	VALUES(
	#{car.carNo}, #{powerWindow:VARCHAR}, #{airCorn:VARCHAR}, #{fullAutoAircorn:VARCHAR},
	#{sunRoof:VARCHAR},#{pnrmSunRoof:VARCHAR}, #{hidRam:VARCHAR},
	#{navi:VARCHAR}, #{hipass:VARCHAR},#{blackBox:VARCHAR},
	#{driverAirBag:VARCHAR},#{driverFriendAirBag:VARCHAR}, #{sideAirBag:VARCHAR},
	#{turboChaser:VARCHAR}, #{superChaser:VARCHAR},#{airrowFigher:VARCHAR})
	</insert>
	
	
	<select id="getCar" parameterType="String" resultMap="carSelectMap">
		SELECT
		*
		FROM car
		WHERE car_Num = #{value}
	</select>
	
	<select id="carView" parameterType="String" resultMap="carSelectMap">
		SELECT
		*
		FROM car
		WHERE car_Num = #{value}
	</select>
	<select id="carViewOption" parameterType="Integer" resultMap="carOption">
		SELECT
		*
		FROM carOption
		WHERE car_No = #{value}
	</select>
	
	<!-- 지워도될부분 -->
	 <select 	id="getCarList" resultMap="carSelectMap" parameterType="com.model2.mvc.common.Search">
		
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT car_No, model, manu_co, car_year
											FROM car
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				car_No = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				model LIKE #{searchKeyword}
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
														manu_co = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY car_No ) inner_table WHERE ROWNUM <![CDATA[<=]]>
						#{currentPage}*#{pageSize} ) 
		WHERE row_seq BETWEEN ((#{currentPage}-1)*#{pageSize}+1)  AND 
		#{currentPage}*#{pageSize}
	 </select>
	
	<select 	id="getTotalCount" resultType="int" parameterType="com.model2.mvc.common.Search">
		
		SELECT COUNT(*)
	  	FROM(	SELECT car_No, model, manu_co, car_year
					FROM car
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			car_No = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 			model LIKE #{searchKeyword}
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
									manu_co = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>
	
	<!-- 지워도될부분 -->
	
	
	<!-- Auction에서 Car정보 가져가기 -->
	
	<select id="getAuction" parameterType="integer" resultMap="carSelectMap">
		select*from car where user_no = #{value}
	</select>
	
	
<select id="selectCar" parameterType="integer" resultMap="carSelectMap">
		select*from car where user_no = #{value}
</select>
	
	<update id="updateCar" parameterType="integer" >
		UPDATE car
		<set>
			tran_code = 1
		</set>
		WHERE car_no = #{carNo}
	
	</update>
	
	
	<!-- 영범이 부분 -->
	<select id="getCar2" parameterType="Integer" resultMap="carSelectMap">
		SELECT
		*
		FROM car
		WHERE car_no = #{value}
	</select>
	
	
</mapper>