<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- UserMapper.xml :: SQL 를 갖는 MetaData - MyBatis Framework 은 XML MetaData 
	를 사용 SQL구문을 관리 (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 외부로 분리함) - SQL문의 입력(?) / 
	출력(?)을 매핑한다. <== 아래의 select element 참조 -->

<mapper namespace="FileMapper">

	<resultMap id="fileSelectMap" type="com.model2.mvc.common.FileUpload">
		<result property="imgNum" 	column="img_num"	jdbcType="INTEGER"/>
		<result property="imgPath" 	column="img_path"	jdbcType="VARCHAR"/>
		<result property="carNo" 	column="car_No" 			jdbcType="INTEGER" />
		<result property="carNum" 	column="car_Num" 			jdbcType="VARCHAR" />
		
	</resultMap>


	<insert id="addFile" parameterType="com.model2.mvc.common.FileUpload">
		INSERT
		INTO
		image(img_num, img_path,car_No)
		VALUES(#{imgNum}, #{imgPath},#{car.carNo})
	</insert>
	
	<select id="getFile" parameterType="Integer" resultMap="fileSelectMap">
		SELECT
		img_path
		FROM image
		WHERE car_No = #{value}
		
	</select>
	
	<select id="getFileList" parameterType="Integer" resultMap="fileSelectMap">
		SELECT
		img_path, c.car_Num
		From image f, car c
		WHERE f.car_No = #{value}
		and c.car_no = f.car_no
	</select>
	
	
	<select id="getFile2" parameterType="int" resultMap="fileSelectMap">
    SELECT
    *
    FROM image
    WHERE car_No = #{value}
  </select>
  
  
  <update id="updateFile" parameterType="com.model2.mvc.common.FileUpload" >
      UPDATE image
      <set>
    
      img_path   = #{imgPath:VARCHAR}
      </set>
      WHERE car_No = #{car.carNo}
      and img_num = #{imgNum}
  </update>
	

</mapper>